<div class="main-div" fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex.sm="60" fxFlex.md="40" fxFlex.lg="20" fxFlex.gt-lg="20">
        <mat-toolbar class="auth-toolbar">Вход</mat-toolbar>
        <form class="auth-form" fxLayout="column" (ngSubmit)="login()">
            <mat-form-field>
                <input matInput type="text" placeholder="Электронная почта">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Пароль">
            </mat-form-field>
            <p>Нет аккаунта?
                <a routerLink="/register">Регистрация</a></p>
            <button mat-raised-button type="submit">Войти</button><br>
            <button class="discord" mat-raised-button type="button">
                <img src="assets/images/discord.png" width="30" height="30"/>
                Discord
            </button>
        </form>
    </mat-card>
</div>
