@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-div {
    background-image: url("assets/images/dinoback.jpg");
}

.main-div mat-card{
    padding: 0;
    border-radius: 10px;
}
.main-div p, a{
    font-size: small;
}
.main-div a {
    color: blue;
}
.auth-toolbar {
    justify-content: center;
    //background-color:blueviolet;
    background-color: rgb(29, 8, 46);
    color: white;
    border-radius: 10px 10px 0px 0px;
}
.auth-form {
    color: white;
    padding: 20px;
}

.discord {
    background-color: rgb(115,137,220);
}

.home-div {
    background-image: url("assets/images/dinoback.jpg");
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.home-card {
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgba(39, 11, 61, 0.75);
}

.auth-card{
    background-color: rgba(39, 11, 61, 0.90);
}
.enter {
    background-color: rgb(255, 119, 28);
    font: medium Arial, sans-serif;
    //text-shadow: red 0 0 2px;
}

.mat-form-field {
    .mat-input-element {
      color: white;
    }
    .mat-form-field-label {
      color: rgba(255, 255, 255, 0.555);
    }
    .mat-form-field-underline {
      background-color: white;
    }
    .mat-form-field-ripple {
      background-color: white;
    }
    .mat-form-field-required-marker {
      color: white;
    }
  }

  .but-clear {
    // background-image: url("assets/images/clear1.png");
    // background-size: 40px 40px;
    // width: min-content;
    // height: 40px;
}