<div class="home-div" fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="home-card" fxFlexAlign="stretch" fxFlex.sm="95" fxFlex.md="90" fxFlex.lg="70" fxFlex.gt-lg="65">
        <div class="home-main">
            <div class="home-first">
                <div class="first-first">
                    <div class="header">
                        3/4
                    </div>
                    <div class="header">
                        Players
                    </div>
                    <div class="header">
                        <button mat-raised-button class="search-but">SEARCH</button>
                    </div>

                </div>
                <div class="second-first">
                    <mat-card class="card-container">
                            <div class="card-div1">
                            <img mat-card-sm-image class="profile" src="assets/images/profile.jpg"/>
                            </div>
                            <div class="card-div2">
                                @tartaglia11
                            </div>
                    </mat-card>
                </div>
                <div class="third-first">
                    <button mat-raised-button>LEAVE</button>
                </div>
            </div>
            <div class="home-second">
                <div class="first-second">
                    <mat-card fxFlexAlign="stretch">
                    <p>buttons</p>
                    </mat-card>
                </div>
                <div class="second-second">
                    <mat-card fxFlexAlign="stretch">
                    <p>buttons</p>
                    </mat-card>
                </div>
                <div class="third-second">
                    <button (click)="startGame()" mat-raised-button class="but">START GAME</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>
