<div class="home-div" fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="home-card" fxFlexAlign="stretch" id="base">
        <div class="main">
            <div class="first">
                <div class="num-frames" *ngIf="isGameMode; else elseBlock">
                    <p>{{this.socketService.stage+1}} / {{this.socketService.selected_frames}}</p>
                </div>
                <ng-template #elseBlock>
                    <p class="transp">0</p>
                </ng-template>
                <div class="pal" *ngFor = "let color of colors">
                   <div class="row">
                        <div class="item" [style.backgroundColor]="color[0]" (click)="changeColor(color, 0)"></div>
                        <div class="item" [style.backgroundColor]="color[1]" (click)="changeColor(color, 1)"></div>
                   </div>
                </div>
                <div class="row" *ngIf ="isGameMode">
                    <button class="but-leave" mat-raised-button (click)="leave()">
                        <img width="30" height="30" src="./assets/images/exit.png"/>
                    </button>
                    <div class="help"></div>
                </div>
                <ng-template #elseOpacity class="help-slide">
                    <mat-slider id="vert-slide" vertical min="1" step="1" max="100" value="100"></mat-slider>
                    <div class="font"><span class="font">OPACITY</span></div>
                </ng-template>
            </div>
            <div class="second">
                <div class="header">
                    <div *ngIf="isGameMode; else elseMode">
                        <p>НАРИСУЙТЕ КАДР АНИМАЦИИ</p>
                    </div>
                    <ng-template #elseMode>
                        <p>НАРИСУЙТЕ ИКОНКУ ПРОФИЛЯ</p>
                    </ng-template>
                </div>
                <div id="back" *ngIf = "isGameMode; else elseCanvas">
                    <div id = "field">
                        <canvas id='canvas' width="750" height="430">Ваш браузер устарел!</canvas>
                    </div>
                </div>
                <ng-template #elseCanvas id="back">
                    <div id = "field-else">
                        <canvas id='canvas-else' width="430" height="430">Ваш браузер устарел!</canvas>
                    </div>
                </ng-template>
                <div class="footer">
                    <div class="opacity" *ngIf="isGameMode">
                        <p>OPACITY</p>
                        <mat-slider width="200" min="1" step="1" max="100" value="100"></mat-slider>
                        <!-- (input)="changeOpacity(event) -->
                    </div>
                    <div class="finish" *ngIf="isGameMode; else elseBut">
                        <button class="but-finish" mat-raised-button (click)="finish()">ЗАВЕРШИТЬ</button>
                    </div>
                    <ng-template #elseBut>
                        <button class="but-save" mat-raised-button (click)="saveIcon()">СОХРАНИТЬ</button>
                    </ng-template>
                </div>
            </div>
            <div class="third">
                <div class="time" *ngIf="isGameMode; else elseSkip"><p>{{time_left}} сек</p></div>
                <ng-template #elseSkip>
                    <button class="but-home" mat-raised-button (click)="toHome()"><span class="non-transp">SKIP-></span></button>
                </ng-template>
                <div class="line">
                    <div *ngFor = "let size of sizes">
                        <div class="line-item" (click)="changeLine(size)">
                            <div [style.width]="size+'px'" [style.height]="size+'px'" class="marker"></div>
                        </div>
                    </div>
                    <button class="but-clear" mat-raised-button (click)="clearEvent()">
                        <img width="40" height="40" src="./assets/images/clear2.png"/>
                    </button>
                    <button class="but-back" mat-raised-button (click)="returnState()">
                        <img width="35" height="30" src="./assets/images/arrow.png"/>
                    </button>
                </div>

            </div>
        </div>
    </mat-card>
</div>