<div class="home-div" fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="home-card" fxFlexAlign="stretch" fxFlex.sm="95" fxFlex.md="90" fxFlex.lg="85" fxFlex.gt-lg="80">
        <div class="home-main">
            <div class="home-first">
                <div class="first-first">
                    <mat-card class="card-container">
                        <mat-card-content>
                        <mat-card-title-group>
                            <img mat-card-sm-image class="profile" src="assets/images/profile.jpg"/>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        </mat-card-title-group>
                    </mat-card-content>
                </mat-card>
                </div>
                <div class="second-first">
                    <p>yooooo</p>
                </div>
            </div>
            
            <div class="home-second">
                <div class="first-second">
                    <p>boooo</p>
                </div>
                <div class="second-second">
                    <p>mmma</p>
                </div>
            </div>
        </div>
        <!-- <mat-card fxFlexAlign="start" fxFlex.sm="30" fxFlex.md="30" fxFlex.lg="3" fxFlex.gt-lg="30">
            <img src="assets/images/profile.png" width="160" height="160"/>
            <p>kkkkkkkkk</p>
        </mat-card> -->
    </mat-card>
</div>
