.home-main {
    height: 100%;
    display: flex;
    border-radius: 10px;
}
.home-first {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.home-second {
    flex: 3;
    height: 100%;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.first-first {
    height: min-content;
    background-color:rgba(255, 255, 255, 0.164);
    border-radius: 10px;
}
.second-first {
    margin-top: 16px;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.164);
    border-radius: 10px;
}
.first-second {
    flex: 7;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.164);
    border-radius: 10px;
}
.second-second {
    flex: 1;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    height: 100%;
    //background-color:rgb(218, 216, 216);
    border-radius: 10px;
    //justify-content: center;
}

.profile {
    width: 160px;
    height: 160px;
    border-radius: 5px;
}

.theme {
    color: white;
    background-color: rgb(22, 5, 36);
}

.card-container {
  padding: 10px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card-div2 {
    margin-left: 8px;
    margin-right: 8px;
}

.btn-div1 {
    flex: 1;
    justify-content: end;
}

.btn-div2 {
    flex: 1;
    justify-content: start;
}

.but1 {
    background-color: rgb(255, 119, 28);
    margin-top: 8px;
    margin-left: 10%;
    height: 65px;
    width: 80%;
    font: large Arial, sans-serif;
    text-shadow: red 0 0 2px;
}

.but2 {
    background-color: rgb(255, 119, 28);
    margin-top: 8px;
    margin-right: 10%;
    height: 65px;
    width: 80%;
    font: large Arial, sans-serif;
    text-shadow: red 0 0 2px;
}